/* Estilos para los botones */
button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px; /* Agregar margen horizontal y vertical entre los botones */
  cursor: pointer;
  font-weight: bold;
  font-family: Verdana, sans-serif; /* Fuente Verdana */
}

button:hover {
  background-color: #555;
}
